set -a
KEY_STORE='/home/boran/git/everysign/unified-app/android.jks'
KEY_ALIAS='key'
KEY_STORE_PASSWORD='P5^W4no$f32UVF4w'
KEY_PASSWORD='P5^W4no$f32UVF4w'
MATCH_PASSWORD='F2g2Vweq7ZnX6snKxQXo5HKeutYJmyyC'
FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD='ykex-fspd-yxfh-pozv'
